strong {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
p {
    border-top: black 2px solid;
    margin: 0;
    padding:0px 5px 5px 2px;
}
span {
    border-top: black 2px solid;
    margin-left:50px;
}
.pre2{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}